@page "{handler?}/{id?}"

@model Clean.UI.Pages.Candidate.CandidateStatusModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Candidate Status";
    Layout = null;
}
<div class="panel panel-flat" style="direction: rtl;">
    <div class="panel-heading">
        <h1 class="panel-title">حالت حاجی</h1>
    </div>
    <div class="panel-body" style="padding-bottom:5px;">

        <form id="dv_Candidate_CandidateStatus" class="form sub-form page-component" type="form" prefix="uxi" parent="dv_Profile_Profile" parentcol="CandidateID">
            <fieldset class="content-group">
                <legend class="text-bold">لطفاً حالت حاجی را وارد نمایید</legend>
                <div class="row">
           
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                حالت کاندید
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxistatustypeid" name="uxiStatusTypeID" class="select" asp-items="@Model.ListOfStatusType" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                ادرس
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxicprovincesid" name="uxiCProvincesID" class="select" asp-items="@Model.ListOfProvinces" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                نمبر اطاق
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input id="uxiroomno" name="uxiRoomNo" type="number" class="form-control search"  required />
                            <div class="form-control-feedback">
                                <i class="icon-search4 text-size-base"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                ملاحظات
                            </label>
                            <textarea id="uxiremarks" name="uxiRemarks" type="text" class="form-control" lang="en"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <div class="row div-form-control">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-left"></i>ثبت معلومات</button>
                        <button type="button" class="btn btn-primary" action="search"><i class="icon-new-tab position-left"></i>جستجو</button>
                        <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-left"></i>صفحه جدید </button>
                    </div>
                </div>
            </div>
            <div class="form-grid">
                <table style="direction: rtl;" bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="CandidateName">نام کاندید</th>
                            <th colname="StatusTypeName">حالت کاندید</th>
                            <th colname="ProvinceName">آدرس</th>
                            <th colname="RoomNo">نمبر اطاق</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </form>

    </div>
</div>

