@page "{handler?}"
@model Clean.UI.Pages.HajjSelection.HajjiSelectionModel
@{
    ViewData["Title"] = "HajjiSelection";
}
<div class="panel panel-flat">
    @Html.AntiForgeryToken()
    <div class="panel-heading">
        <h1 class="panel-title">انتخاب حجاج </h1>
    </div>
    <div class="panel-body" style="padding-bottom:5px;">
        <form id="dv_HajjSelection_HajjiSelection" class="form main-form page-component" type="form" prefix="ux">
            <fieldset class="content-group">
                <legend class="text-bold">حجاج از طریق سیستم انتخاب میگردد </legend>
                <input type="hidden" id="uxbid" />
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                سال جچ
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxyearid" name="uxYearId" class="select search" asp-items="@Model.ListOfPersianYears" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <div class="row div-form-control main-form-details">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-left"></i>لیست انتخاب شده ها </button>
                    </div>
                </div>
            </div>
            <div class="form-grid main-form-details">
                <table Filter="true">
                    <thead>
                        <tr>

                            <th colname="code"> کود </th>
                            <th colname="firstname"> نام </th>
                            <th colname="lastname"> تخلص </th>
                            <th colname="fathername"> نام پدر </th>
                            <th colname="grandfathername"> نام پدر کلان </th>
                            <th colname="gendername"> جنسیت </th>
                            <th colname="religionName"> مذهب </th>
                            <th colname="candidateTypeName"> نوعیت کاندید </th>
                            <th colname="NIDText">سند هویت</th>
                            <th colname="IsSelected"> انتخاب شده </th>
                            <th colname="EnrollmentDate"> تاریخ ثبت نام </th>
                            <th colname="age"> سن </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </form>
    </div>
</div>