@page "{handler?}/{id?}"
@model Clean.UI.Pages.Emara.EmaraModel
@{
    ViewData["Title"] = "Emara";
    Layout = null;
}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h1 class="panel-title">اعماره</h1>
    </div>
    <div class="panel-body" style="padding-bottom:5px;">
        <form id="dv_Emara_Emara" class="form sub-form page-component" type="form" prefix="ux" parent="dv_Profile_Profile" parentcol="CandidateID">
            <fieldset class="content-group">
                <legend class="text-bold">مشخصات اعماره را وارد کنید </legend>
                <input type="hidden" id="uxbid" />
                <div class="row">

                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                معلومات اعماره
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxemaraid" name="uxEmaraId" class="select " asp-items="@Model.ListOfEmara" required>
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                نمبر مکتب
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input id="uxmaktabno" name="uxMaktabNo" type="number" class="form-control search" required />
                            <div class="form-control-feedback">
                                <i class="icon-search4 text-size-base"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                               نمبر اعماره
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input id="uxbuildingno" name="uxBuildingNo" type="number" class="form-control search" required />
                            <div class="form-control-feedback">
                                <i class="icon-search4 text-size-base"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                سال
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <select id="uxyearid" name="uxYearID" class="select search" asp-items="@Model.ListOfPersianYears" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                نمبر اطاق
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input id="uxroomno" name="uxRoomNo" type="number" class="form-control search"  required />
                            <div class="form-control-feedback">
                                <i class="icon-search4 text-size-base"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                نمبر تخت

                            </label>
                            <input id="uxbedno" name="uxBedNo" type="number" class="form-control search" required />
                            <div class="form-control-feedback">
                                <i class="icon-search4 text-size-base"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label class="text-bold">
                                نمبر منزل
                                <span class="text-danger">&nbsp;*</span>
                            </label>
                            <input id="uxfloorno" name="uxFloorNo" type="number" class="form-control search" required />
                            <div class="form-control-feedback">
                                <i class="icon-search4 text-size-base"></i>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-xs-12 ">
                            <div class="form-group has-feedback has-feedback-left">
                                <label class="text-bold">
                                    ملاحظات
                                </label>
                                <textarea id="uxremarks" name="uxRemarks" type="text" class="form-control" lang="en"></textarea>
                            </div>
                        </div>
                    </div>
                
            </fieldset>
            <hr />
            <div class="row div-form-control main-form-details">
                <div class="col-md-12">
                    <div class="form-group actions">
                        <button type="button" class="btn btn-primary" action="save"><i class="icon-floppy-disk position-left"></i> ثبت معلومات </button>
                        <button type="button" class="btn btn-primary" action="search"><i class="icon-search4 position-left"></i> جستجو  </button>
                        <button type="button" class="btn btn-primary" action="new"><i class="icon-new-tab position-left"></i> صفحه جدید </button>
                    </div>
                </div>
            </div>
            <div class="form-grid main-form-details">
                <table bindonclick="true">
                    <thead>
                        <tr>
                            <th colname="CandidateName"> نام کاندید </th>
                            <th colname="EmaraDetail"> اعماره مربوطه </th>
                            <th colname="BedNo">نمبر تخت </th>
                            <th colname="FloorNo"> نمبر منزل </th>
                            <th colname="BuildingNo"> نمبر اعماره </th>
                            <th colname="RoomNo">نمبر اطاق </th>
                            <th colname="YearName">سال </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </form>
    </div>
</div>